
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası kendi oluşturduğum web sayfasıdır.</h3>

<table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>    
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Yılmaz</td>
        <td>25</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Demir</td>
        <td>30</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mehmet</td>
        <td>Kaya</td>
        <td>28</td>
    </tr>
</table>